<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.flowboot.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="cn.flowboot.system.domain.entity.SysRole">
        <id property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
        <result property="roleSort" column="role_sort" jdbcType="INTEGER"/>
        <result property="dataScope" column="data_scope" jdbcType="CHAR"/>
        <result property="menuCheckStrictly" column="menu_check_strictly" jdbcType="BOOLEAN"/>
        <result property="deptCheckStrictly" column="dept_check_strictly" jdbcType="BOOLEAN"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id
        ,role_name,role_key,
        role_sort,data_scope,menu_check_strictly,
        dept_check_strictly,status,del_flag,
        create_by,create_time,update_by,
        update_time,remark
    </sql>
    <select id="queryRoleKeysByUserId" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT sys_role.role_key
        FROM sys_role
                 LEFT JOIN
             sys_user_role
             ON
                 sys_role.role_id = sys_user_role.role_id
        WHERE sys_user_role.user_id = #{userId} AND status = 1
    </select>
    <select id="queryRoleIdsByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT sys_role.role_id
        FROM sys_role
                 LEFT JOIN
             sys_user_role
             ON
                 sys_role.role_id = sys_user_role.role_id
        WHERE sys_user_role.user_id = #{userId} AND status = 1
    </select>

    <select id="queryRolesByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_role
        LEFT JOIN
        sys_user_role
        ON
        sys_role.role_id = sys_user_role.role_id
        WHERE
        sys_user_role.user_id = #{userId} AND status = 1
    </select>
    <select id="queryRoleAll" resultType="cn.flowboot.system.domain.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_role
        WHERE
        status = 1 AND role_id != 1
    </select>
</mapper>
